.user-header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.back-btn {
    font-size: x-large;
    font-weight: 900;
}

.country-dropdown {
    font-size: 1.5em;
    max-width: fit-content;
}

.clock {
    height: 3em;
    background-color: rgb(60, 47, 47);
    color: white;
    width: 20em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

.clock-toggle {
    height: 3em;
    width: 10em;
}

.clock-controls {
    display: flex;
    column-gap: 0.5em;
    flex-wrap: wrap;
    row-gap: 0.5em;
}

@media (max-width: 600px) {
    .user-header {
        flex-direction: column;
    }

    .clock-controls {
        flex-direction: column;
    }
}